$speed: 0.5s;

.modal {
  position: fixed;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;  
  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 0.2rem;
    overflow: hidden;
  }
  &__header {
    background: $colorMain;
    color: white;
    padding: 0.5rem 1rem;
  }
  &__content {
    padding: 1rem;
  }
  &__controls {
    text-align: right;
    padding: 0 1rem 1rem;
  }
  &__btn {
    display: inline-block;
    margin-left: 0.5rem;
    background: $colorMain;
    color: white;
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    &:hover {
      cursor: pointer;
      background: lighten($colorMain, 20%);
    }
    &--warning {
      background: #f44336;
      &:hover {
        background: lighten(#f44336, 10%);
      }
    }
  }
}

// Modal Transitions
.modal {
  &--active {
    display: block;
  }
  &--enter {
    opacity: 0;
    transition: opacity $speed;
    .modal__container {
      transform: translate(-50%, calc(-50% - 12rem));
      transition: transform $speed;
    }
  }
  &--enter-active {
    opacity: 1;
    .modal__container {
      transform: translate(-50%, -50%);
    }
  }
  &--exit {
    opacity: 1;
    transition: opacity $speed;
    .modal__container {
      transform: translate(-50%, -50%);
      transition: transform $speed;
    }
  }
  &--exit-active {
    opacity: 0;
    .modal__container {
      transform: translate(-50%, calc(-50% - 12rem));
    }
  }
}

.m-form {
  &__group {
    padding: 0.5rem;
  }
  &__label {
    margin-right: 0.5rem;
  }
  &__control {
    &[type=checkbox] {
      margin-right: 0.5rem;
    }
    &[type=textarea] {
      display: block;
      width: 100%;
      height: 6rem;
    }
  }
}