.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

.thumbnail
  height 200px

  img.pull-right
    width 50px

.panel.table
  > .list-group
    > .list-group-item
      &:first-child
        background-color #eee
      &:hover
        background-color #f4f4f4
      &.edit-form
        &:hover
          background-color white
      &.bg-danger
        background-color #f2dede
        &:hover
          background-color #dbb
      .panel
        .panel-body
          background-color #f4f4f4

.log
  max-height 600px
  overflow auto
  .line
    div
      overflow hidden
      padding-left 2em

    div.line-number
      color #666
      width 3.3em
      padding-left .5em
      border-right 3px solid #aaa
      float left
      background-color #ddd

    div.type
      width 8em
      float left
      text-align right

    div.bg-dark
      background-color #888
      color white

    &:nth-child(2n)
      div.line-number
        background-color #ccc

.req-electives
  border 1px solid #ccc
  border-top none
  .list-group-item
    &:last-child
      border-bottom none
    &:hover
      background-color #ddf

.input-group
  .input-group-addon
    label
      margin-bottom 0

img
  max-width 100%

.center
  text-align center
  > *
    display inline-block
    margin 0

.btn-selected
  background-color #ddd

.click
  cursor pointer

// .edit-form
//   transform-origin 0 0
//   transform scaleY(1)
//
// .edit-form.ng-enter
// .edit-form.ng-leave
//   transition transform .6s ease
//
// .edit-form.ng-enter
// .edit-form.ng-leave.ng-leave-active
//   transform scaleY(0)
//
// .edit-form.ng-leave
// .edit-form.ng-enter.ng-enter-active
//   transform scaleY(1)

// injector
// endinjector
