.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

.thumbnail
  height 200px

  img.pull-right
    width 50px

.table-div
  > .row
    padding .6em 0 .6em
    border-bottom 1px solid #ccc
    &:nth-child(2n-1)
      background-color #fafafa

    &:hover
      background-color #eaeaea

    &.bg-danger
      background-color #f2dede
      &:hover
        background-color #dbb

// injector
// endinjector
