.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

.thumbnail
  height 200px

  img.pull-right
    width 50px

.table-div
  margin-bottom 5em
  > .row
    position relative
    padding .6em 0 .6em
    margin 0
    border-bottom 1px solid #ccc
    background-color white
    &:nth-child(2n-1)
      background-color #fafafa

    &:hover
      background-color #eaeaea

    &.bg-danger
      background-color #f2dede
      &:hover
        background-color #dbb

.panel.table
  > .list-group
    > .list-group-item
      &:first-child
        background-color #eee
      &:hover
        background-color #f4f4f4
      &.edit-form
        &:hover
          background-color white
      &.bg-danger
        background-color #f2dede
        &:hover
          background-color #dbb
      .panel
        .panel-body
          background-color #f4f4f4

.req-electives
  border 1px solid #ccc
  border-top none
  .list-group-item
    &:hover
      background-color #ddf

.input-group
  .input-group-addon
    label
      margin-bottom 0

img
  max-width 100%

.center
  text-align center
  > *
    display inline-block
    margin 0

.btn-selected
  background-color #ddd

.click
  cursor pointer

// .edit-form
//   transform-origin 0 0
//   transform scaleY(1)
//
// .edit-form.ng-enter
// .edit-form.ng-leave
//   transition transform .6s ease
//
// .edit-form.ng-enter
// .edit-form.ng-leave.ng-leave-active
//   transform scaleY(0)
//
// .edit-form.ng-leave
// .edit-form.ng-enter.ng-enter-active
//   transform scaleY(1)

// injector
// endinjector
