<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <form ng-submit="vm.addAllStudents()" class="form-inline">
        <div class="form-group">
          <label for="addStudents">Add Students</label>
          <input type="file" id="addStudents" ng-file-select ng-model="vm.studentsFile">
          <p class="help-block">Select CVS file with students to add.</p>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>

  <div class="row">
      <form class="form">

        <div class="col-xs-6">
          <div class="form-group">
            <label for="search">Search</label>
            <input type="text" id="search" class="form-control" ng-model="vm.search" placeholder="Search for student">
          </div>
        </div>

        <div class="col-xs-6">
          <label for="">Grades</label>
          <div class="checkbox">
            <label>
              <input type="checkbox" checked ng-model="vm.show6"> 6
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" checked ng-model="vm.show7"> 7
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" checked ng-model="vm.show8"> 8
            </label>
          </div>
        </div>
      </form>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-danger" ng-click="vm.deleteStudents()">Delete</button>
      <button class="btn btn-default" ng-click="vm.toggleSelectAll()">
        <span ng-hide="vm.allSelected">Select</span><span ng-show="vm.allSelected">Deselect</span> All
      </button>
    </div>
  </div>

  <div class="table-div">
    <div class="row" ng-class="{ 'bg-danger':vm.checkbox[student._id] }" ng-repeat="student in vm.allStudents() | filter: vm.search | filter:vm.gradeFilter | orderBy:['grade', 'name.last', 'name.first']">
      <div class="col-xs-1">
        <input type="checkbox" ng-model="vm.checkbox[student._id]" ng-init="vm.checkbox[student._id] = false">
      </div>
      <div class="clearfix" ng-click="vm.toggleEdit($index, student)">
        <div class="col-xs-4">{{ student.name.last }}</div>
        <div class="col-xs-4">{{ student.name.first }}</div>
        <div class="col-xs-2">{{ student.grade }}</div>
        <div class="col-xs-1">
          <button class="btn btn-default btn-xs">Edit</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" ng-show="vm.currentEdit.index === $index">
          <form class="form-horizontal" ng-submit="vm.updateStudent()">

            <div class="form-group">
              <label class="col-xs-2 control-label">First</label>
              <div class="col-xs-5">
                <input type="text" class="form-control" ng-model="vm.currentEdit.name.first">
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-2 control-label">Last</label>
              <div class="col-xs-5">
                <input type="text" class="form-control" ng-model="vm.currentEdit.name.last">
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-2 control-label">Username</label>
              <div class="col-xs-5">
                <input type="text" class="form-control" ng-model="vm.currentEdit.username">
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-2 control-label">Grade</label>
              <div class="col-xs-5">
                <label class="radio-inline">
                  <input type="radio" name="gradeRadio" ng-model="vm.currentEdit.grade" value="6">6
                </label>
                <label class="radio-inline">
                  <input type="radio" name="gradeRadio" ng-model="vm.currentEdit.grade" value="7">7
                </label>
                <label class="radio-inline">
                  <input type="radio" name="gradeRadio" ng-model="vm.currentEdit.grade" value="8">8
                </label>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-5 col-xs-offset-2">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="vm.currentEdit.spanish">Completed Spanish
                  </label>
                </div>
              </div>
            </div>

            <div class="col-xs-offset-2">
              <button type="submit" class="btn btn-default">Save</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
