<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <form ng-submit="vm.addAllStudents()" class="form-inline">
        <div class="form-group">
          <label for="addStudents">Add Students</label>
          <input type="file" id="addStudents" ng-file-select ng-model="vm.studentsFile">
          <p class="help-block">Select CVS file with students to add.</p>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>

  <div class="row">
      <form class="form">

        <div class="col-xs-4">
          <div class="form-group">
            <label for="search">Search</label>
            <input type="text" id="search" class="form-control" ng-model="vm.search" ng-model-options="{debounce:200}" placeholder="Search for student">
          </div>
        </div>

        <div class="col-xs-2">
          <label for="">Grades</label>
          <div class="checkbox">
            <label>
              <input type="checkbox" checked ng-model="vm.show6"> 6
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" checked ng-model="vm.show7"> 7
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" checked ng-model="vm.show8"> 8
            </label>
          </div>
        </div>

        <div class="col-xs-6">


        </div>
      </form>
  </div>

  <div class="row">
    <div class="col-xs-12">

      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <button class="btn btn-danger" ng-click="vm.deleteStudents()">Delete</button>
        <button class="btn btn-default" ng-click="vm.toggleSelectAll()">
          <span ng-hide="vm.allSelected">Select</span><span ng-show="vm.allSelected">Deselect</span> All
        </button>
      </div>

      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <button type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default" ng-class="{'btn-primary': vm.limit===10}" ng-click="vm.setLimit(10)">10</button>
        <button type="button" class="btn btn-default" ng-class="{'btn-primary': vm.limit===25}" ng-click="vm.setLimit(25)">25</button>
        <button type="button" class="btn btn-default" ng-class="{'btn-primary': vm.limit===50}" ng-click="vm.setLimit(50)">50</button>
        <button type="button" class="btn btn-default" ng-class="{'btn-primary': vm.limit===100}" ng-click="vm.setLimit(100)">100</button>
      </div>

    </div>
  </div>

  <nav class="clearfix">
    <ul class="pagination pull-right">
      <li ng-click="vm.goToPage(vm.currPage-1)">
        <a href aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li ng-repeat="i in vm.pages() track by $index" ng-click="vm.goToPage($index)" ng-class="{active: $index==vm.currPage}">
        <a href>{{ $index + 1 }}</a>
      </li>
      <li ng-click="vm.goToPage(vm.currPage+1)">
        <a href aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="table-div">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-1"><h4>Last</h4></div>
      <div class="col-xs-4"><h4>First</h4></div>
      <div class="col-xs-2"><h4>Grade</h4></div>
    </div>
    <div class="row" ng-class="{ 'bg-danger':vm.checkbox[student._id] }" ng-repeat-start="student in vm.allStudents() | filter: vm.gradeFilter | orderBy: ['grade', 'name.last', 'name.first'] | startFrom: vm.start | limitTo: vm.limit track by student._id">
      <div class="col-xs-1">
        <input type="checkbox" ng-model="vm.checkbox[student._id]" ng-init="vm.checkbox[student._id] = false">
      </div>
      <div class="clearfix click" ng-click="vm.toggleEdit($index, student)">
        <div class="col-xs-4">{{ student.name.last }}</div>
        <div class="col-xs-4">{{ student.name.first }}</div>
        <div class="col-xs-2">{{ student.grade }}</div>
        <div class="col-xs-1">
          <button class="btn btn-default btn-xs">Edit</button>
        </div>
      </div>
    </div>

    <div class="row edit-form" ng-if="vm.currentEdit.index === $index" ng-repeat-end>
      <div class="col-xs-12">
        <form class="form-horizontal" ng-submit="vm.updateStudent()">

          <div class="form-group">
            <label class="col-xs-2 control-label">First</label>
            <div class="col-xs-5">
              <input type="text" class="form-control" ng-model="vm.currentEdit.name.first">
            </div>
          </div>

          <div class="form-group">
            <label class="col-xs-2 control-label">Last</label>
            <div class="col-xs-5">
              <input type="text" class="form-control" ng-model="vm.currentEdit.name.last">
            </div>
          </div>

          <div class="form-group">
            <label class="col-xs-2 control-label">Username</label>
            <div class="col-xs-5">
              <input type="text" class="form-control" ng-model="vm.currentEdit.username">
            </div>
          </div>

          <div class="form-group">
            <label class="col-xs-2 control-label">Grade</label>
            <div class="col-xs-5">
              <label class="radio-inline">
                <input type="radio" name="gradeRadio" ng-model="vm.currentEdit.grade" value="6">6
              </label>
              <label class="radio-inline">
                <input type="radio" name="gradeRadio" ng-model="vm.currentEdit.grade" value="7">7
              </label>
              <label class="radio-inline">
                <input type="radio" name="gradeRadio" ng-model="vm.currentEdit.grade" value="8">8
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-5 col-xs-offset-2">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="vm.currentEdit.spanish">Completed Spanish
                </label>
              </div>
            </div>
          </div>

          <div class="col-xs-offset-2">
            <button type="submit" class="btn btn-default">Save</button>
          </div>

        </form>
      </div>
    </div>

  </div>

</div>
