@import "./partials/variables";

@import "./partials/page";
@import "./partials/admin";
@import "./partials/elective-card";
@import "./partials/modal";

* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.header {
  background: $colorMain;
  box-shadow: 0 0.2rem 0 0 rgba($colorMain, 0.5);
  position: relative;
  z-index: 2;
  &__container {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    margin: 0;
    text-transform: uppercase;
    font-size: 1.4rem;
  }
  &__home-link {
    text-decoration: none;
    color: white;
    display:block;
    padding: 0.5rem;
  }
}

.main-nav {
  &__items {
    display: flex;
  }
  &__item {
    margin: 0 0.2rem;
  }
  &__link {
    text-decoration: none;
    color: white;
    display:block;
    padding: 0.5rem;
    background: lighten($colorMain, 20%);
    border-radius: 0.2rem;
    &:hover {
      background: lighten($colorMain, 40%);
    }
  }
}